<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!-- Syntax used to inject the oartials in the handlebars templates -->
    {{> header}}
    <p>{{screamIt likes}}</p>

    {{> footer}}
  </body>
</html>
