<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>The Site is under maintenance, but will be right back in a blink of an eye</p>
  </body>
</html>
